body {
	background: #efeff4;
	font-family: '-apple-system','HelveticaNeue';
	color: #666;
	background: #005ea8;
	background-image: url("../images/check2.png");
	background-position: center 10px;
	background-repeat: no-repeat;
	background-size: 20%;
}
* {
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
.card {
	display: block;
	background: white;
	margin: 10px;
	box-shadow: 1px 1px 0px 1px #CDCDCD;
	padding: 10px;
	background-image: url("../images/check.png");
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position: -30px 0;
	.section.selected & {
		height: 45px;
		margin-top: -45px;
		transition-property: height, margin-top, background-position;
		transition-duration: 0.6s;
		background-position: 10px center;
    	> * {
    		@keyframes hide {
			    from {opacity: 1;}
			    to {opacity: 0;}
			}
    		animation-name: hide;
    		animation-duration: 0.6s;
    	}
	}
	> span {
		display: block;
		margin: 10px -10px;
		margin-bottom: 0;
		border-top: solid 2px #CDCDCD;
		padding: 10px 10px;
	}
}

.header {
	margin: 10px 20px;
	color: #666;
	transition-property: padding-left;
	transition-duration: 0.6s;
	.section.selected & {
		padding-left: 25px;
	}
}

.input {
	border-radius: 0;
	box-shadow: 0;
	-webkit-appearance: none;
	display: block;
	font-size: 16px;
	background: none;
	border-left: none;
	border-bottom: none;
	border-right: none;
	border-top: none;
	width: 100%;
	height: 25px;
}

.card-item {
	+ .card-item {
		padding-top: 12px;
		border-top: 1px solid #CDCDCD;
		margin-top: 8px;
		height: 36px;
	}
}

.choice {
	padding-left: 20px;
	
	&.selected {
		&:before {
			position: absolute;
			left: 20px;
			content:"✔︎"
		}
	}
}



.section {
	+ .section {
		margin-top: 25px;
	}
	&.appear {
		@keyframes appear {
		    from {
		    	opacity: 0;
		    	transform: translate(-100px, 50px) rotate(-30deg);
		    }
		    to {
		    	opacity: 1;
		    	transform: translate(0px) rotate(0deg);
		    }
		}
		animation-name: appear;
		animation-duration: 0.6s;
	}
}



.page {
	position: absolute;
	left: 0; 
	top: 40px;
	bottom: 0;
	width: 100%;
	background: #efeff4;
	padding-top: 10px;
	padding-bottom: 10px;
	overflow: scroll;
	transition-property: transform;
	transition-duration: 0.6s;
	box-shadow: 0 0 20px rgba(0,0,0,0.5);
	&.coming {
		transform: translate(100%);
	}	

	&.going {
		@keyframes going {
		    from {
		    	transform: translate(0px);
		    }
		    to {
		    	transform: translate(100%);
		    }
		}
		animation-name: going;
		animation-duration: 0.6s;
	}	
}

.tabs {
	margin-bottom: -10px;
	display: block;
	text-align: center;
}

.tab-icon {
	background-size: 30px 30px;
	background-repeat: no-repeat;
	background-position: center 8px;
	display: inline-block;
	height: 60px;
	padding-top: 40px;
	margin: 0 10px;
	width: 60px;
	text-align: center;
	font-size: 70%;
	border-right: solid 2px transparent;
	&.selected {
		border-right: solid 2px #CDCDCD;
		background-color: white;
	}
}

strong {
	font-weight: 600;
}